{% if page.title %}
<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
</div>
{% endif %}

<div class="row">
  <div class="span8">
    {{ content }}
  </div>
  <div class="span4">
    <h3>about</h3>
    <ul>
      <li>{{site.author.name}} - {{ site.author.email | replace:'@','(at)' }}</li>
      <li>Twitter: <a href="http://twitter.com/{{site.author.twitter}}/">#{{site.author.twitter}}</a></li>
      <li>GitHub: <a href="http://github.com/{{site.author.github}}">#{{site.author.github}}</a></li>
    </ul>
  </div>
</div>
